@font-face {
  font-family: 'Friction Mono';
  font-display: auto;
  src: url('../fonts/friction-mono.woff2') format('woff2'),
       url('../fonts/friction-mono.woff') format('woff'),
       url('../fonts/friction-mono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
