.about {
  &__sections {
    @include row;
    @include inline-list;
    @include menubar;
    @include invisible-x-scroll;

    background-color: $white;
    color: $black;
    border-bottom: 1px solid;

    position: sticky;
    top: $menu-height;
    z-index: 2;

    ul {
      @include col(16);
    }

    a:not(:hover):not(.is-active) {
      border: none;
    }
  }
}
