.about-section {
  @include desktop {
    @include apply-grid;
  }

  @include mobile {
    &__column + &__column {
      margin-top: 1em;
    }
  }

  position: relative;
  background-color: $white;
  color: $black;
  border-bottom: 1px solid;

  padding: 3rem $gutter;

  &__anchor {
    @include debug;
    position: absolute;
    top: -($menu-height * 2);
    visibility: hidden;
  }

  h2 {
    margin-bottom: $line-height;
  }

  p + p,
  li + li {
    margin-top: $line-height;
  }

  // NOTE: this allows the last .about-section to be big enough
  // to trigger controllers/toc-highlighter on its anchor
  &:last-child {
    min-height: calc(100vh - #{$menu-height * 2});
  }
}
