.footer {
  @include grid((5, 2, 2, 4, 3));
  @include menubar;

  white-space: unset;
  height: auto;

  color: $white;
  background-color: $black;
  text-transform: lowercase;

  a:not(:hover) {
    border: none;
  }

  .logo {
    float: left;
    margin-right: $gutter;
    border: none;
    img {
      height: calc(1em + #{$line-height});
    }
  }

  @include devices(mobile, tablet) {
    .logo {
      float: none;
      margin-bottom: $menu-padding-top;
    }

    &__column {
      width: 100% !important;
      &:not(.should-not-break) {
        margin-bottom: $line-height;
      }
    }

    div {
      width: 100%;
    }
  }
}

body[data-template='projects'] .footer {
  filter: invert(1);
}
