@keyframes slide-from-left {
  from { transform: translateX(-100%); }
  to { transform: none; }
}

@keyframes slide-from-right {
  from { transform: translateX(100%); }
  to { transform: none; }
}

*[data-fullscreen],
*[data-fullscreen] * {
  cursor: pointer;
  cursor: zoom-in;
}

.fullscreen {
  @include loader;

  cursor: pointer;
  cursor: zoom-out;

  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($black, 1);

  &__media {
    user-select: none;
    cursor: pointer;
    cursor: zoom-out;

    position: absolute;
    margin-top: -#{$menu-height / 2};
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    display: grid;
    height: 100%;
    width: calc(100vw);
    max-height: calc(100vh - #{$menu-height});
  }

  &__media img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  &__media iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &__media > * {
    opacity: 0;
  }

  &__media > *[data-loaded="true"] {
    @include easing(1s, opacity);
    opacity: 1;
  }

  &[data-transition="from-left"] &__media > * {
    animation: slide-from-left 100ms ease-out forwards;
  }

  &[data-transition="from-right"] &__media > * {
    animation: slide-from-right 100ms ease-out forwards;
  }

  // NOTE: this pseudo-element allows capturing click event on iframe,
  // without interfering with Vimeo's toolbar
  &__media::after {
    $vimeo-ui-area: 50px;

    content: '';
    position: absolute;
    left: 0;
    right: $vimeo-ui-area;
    top: calc(50% - 56.25vw / 2);
    bottom: calc(50% - 56.25vw / 2 + #{$vimeo-ui-area});

    @media (min-aspect-ratio: 16/9) {
      top: 0;
      bottom: $vimeo-ui-area;
      right: calc(50% - 82.22vh + #{$vimeo-ui-area});
    }
  }

  &__footer {
    @include row;
    @include menubar;
    position: absolute;
    bottom: 0;
    cursor: default;
    background-color: $black;
    color: $white;

    padding-left: $site-margin;
    padding-right: $site-margin;

    @include mobile {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }

  &__caption {
    @include col(12);
    @include invisible-x-scroll;
    white-space: nowrap;

    @include mobile {
      @include col(16);
      display: block;
      &:empty {
        display: none;
      }
    }
  }

  &__toolbar {
    float: right;
    user-select: none;
    display: inline-flex;

    button {
      @include reset-input;
      cursor: pointer;
      width: auto;
      height: auto;
      color: $white;
      margin-top: -$menu-padding-top;
      padding: $menu-padding-top 2rem $menu-padding-bottom 2rem;

      &:first-of-type { padding-left: 0; }
      &:last-of-type { padding-right: 0; }
    }
  }

  @include mobile {
    &__toolbar button:not(:last-child) {
      display: none;
    }

    &__toolbar button:last-child {
      position: fixed;
      top: $gutter / 2;
      right: 0;
      padding: $gutter;
      mix-blend-mode: difference;
    }
  }
}
