.menu {
  @include grid($main-grid, 0, $site-margin);
  @include menubar;

  z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  text-transform: lowercase;

  user-select: none;
  background-color: $black;

  a:not(:hover) {
    border: none;
  }

  &__nav {
    ul {
      display: flex;
      justify-content: space-between;

      @include devices(mobile, tablet) {
        justify-content: flex-end;
      }

      @include big-ass-desktop {
        justify-content: flex-start;
      }
    }

    li {
      display: inline-block;
    }

    li + li {
      margin-left: $gutter * 2;
    }
  }

  &__subtitle[data-alternates]:not([data-alternates='']) span {
    cursor: help;
  }

  @include mobile {
    &__subtitle {
      visibility: hidden;
    }
    &__nav {
      width: 100%;
    }
  }
}
