.project-preview {
  width: 100%;

  a {
    display: block;
    border: none;
    font-size: 0;
  }

  &__header {
    @include grid($main-grid);
    @include menubar;

    background-color: $black;
    color: $white;

    @include mobile {
      & > *:first-child {
        width: 100%;
        display: block;
      }
      & > *:not(:first-child) {
        display: none;
      }
    }
  }

  &__cover {
    user-select: none;
    font-size: 0;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

body[data-template='home'] {
  .project-preview:last-child .project-preview__header {
    display: none;
    @include mobile {
      display: block;
    }
  }
}
